
$fa-font-path: '../fonts/fontawesome';
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/node-normalize-scss/normalize";
@import "node_modules/prismjs/themes/prism";

$nav-bg-color: #8892BF;
$nav-link-color: #f2f2f2;
$nav-link-active-color: #ffffff;
$ini-ribbon-color: #2BA3D4;
$ini-header-background-color: #252525;
$ini-footer-background-color: #353535;

@import "./uikit";
@import "./dokui";

.uk-icon-logo:before {
  content: "\@{ini_icon_logo}";
}

.uk-icon-logo {
  content: "@{ini_icon_logo}";
}

.tm-navbar .uk-navbar-nav > li.uk-active > a
{
  background-color: $ini-ribbon-color;
}

.tm-section-color-1 {
  background-color: $ini-ribbon-color;
}

.tm-button-download {
  color: $ini-ribbon-color !important;
}

.tm-navbar {
  background-color: $ini-header-background-color;
}

.tm-footer {
  background-color: $ini-footer-background-color;
}

.tm-background {
  background-color: $ini-footer-background-color;
}
